streamlit
pandas
numpy
scikit-learn
python-dotenv
google-cloud-storage
google-generativeai
faiss-cpu 
langchain
langchain_google_genai
langchain-community
pylint
autopep8
psycopg2-binary
fastapi
uvicorn
